.conInfo{
  margin: 10% 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.titInfo{
  border-bottom: 2px solid var(--chocolate);
  margin-bottom: 10px;
}
.rowInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
  grid-gap: 40px;
}
.col1Info{
  display: flex;
  font-size: 1.4em;
  font-weight: 700;
  text-align: right;
  width: 50%;
  align-items: center;
}
.col2Info{
  font-size: 0.85em;
  text-align: justify;
  width: 50%;
}